html,
body {
  background-color: #e08767;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #d8a98d;
  padding: 10px;
}

h1 {
  flex: 100%;
  margin: auto;
  font-family: Blanka, "Arial", sans-serif;
  font-size: 70px;
  color: #db6304;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #ffb6c1, #ffb6c1);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-phase {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex: 50%;
  align-items: center;
}

.message-box {
  display: none;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.hidden-popup {
  z-index: 3;
  background-color: #d8a98d; /* Match the header background color */
  width: 70%; /* Adjust the width to fit the content */
  max-width: 600px; /* Set a maximum width */
  text-align: left; /* Align text to the left */
  border: 2px solid #db6304; /* Add a border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  border-radius: 10px;
  padding: 20px;
}

.game-pieces {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

/*circle piece*/
.game-board .piece {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.possible-move {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-pieces .piece {
  margin: 10px;
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#new-game-button {
  background-color: black;
  color: white;
  font-family: "Blanka", "Arial", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
}

#new-game-button:hover {
  background-color: darkgrey;
}

#new-game-button:focus {
  outline: none; /* Remove focus outline on click */
}

#rules-button {
  background-color: black;
  color: white;
  font-family: "Blanka", "Arial", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
}

.selected {
  background-color: #e74c3c;
  color: #0056b3;
}

#rules-button:hover {
  background-color: darkgrey;
}

#rules-button:focus {
  outline: none; /* Remove focus outline on click */
}

.game-rules-title {
  display: flex;
  justify-content: center;
}

.hidden-popup {
  display: table; /* Add display: table to the container */
  background-color: #db6304; /* Set background to white */
  width: 500px; /* Adjust width for the desired size */
  height: auto; /* Set height to match width for a square shape */
  text-align: justify; /* centering the  text */
  position: fixed; /* Position it relative to the viewport */
  top: 50%; /* Vertically center it on the screen */
  left: 50%; /* Horizontally center it on the screen */
  transform: translate(-50%, -50%); /* Center it perfectly */
  padding: 70px;
  border-radius: 5px;
}

#popup-content {
  margin: 0;
  padding: 0;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #e0e0e0;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: flex-end;
}



.status {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: larger;
}


.first-step {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

.first-step h2 {
  font-size: 24px;
}

.first-step button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.toggle-button0 {
  background-color: #3498db; /* Initial color */
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-button0.active {
  background-color: #e74c3c;
}

.toggle-button1 {
  background-color: #3498db; /* Initial color */
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-button1.active {
  background-color: #e74c3c;
}

.toggle-button2 {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-button2.active {
  background-color: #e74c3c;
}

.toggle-button3 {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-button3.active {
  background-color: #e74c3c;
}

.game-starter {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  background-color: black;
  color: white;
  font-family: "Blanka", "Arial", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
}


.spacer {
  flex: 1; /* This spacer expands to fill available space */
}

.welcome-box {
  display: flex;
  align-items: center; /* Vertically center its contents */
}

#user-welcome-message {
  position: absolute;
  top: 10px;
  right: 10px;
  color: green;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
}

#logout-button {
  background-color: black;
  color: white;
  font-family: "Blanka", "Arial", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
}

#logout-button:hover {
  background-color: darkgrey;
}

/* Customize the Error Message */
.error-message {
  display: flex;
  justify-content: center;
  background-color: #ff5733; /* Background color */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.first-step button:hover {
  background-color: #0056b3;
}

.login-container {
  z-index: 2;
  position: absolute;
  top: 35%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Center it perfectly */
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  width: 300px; /* Adjust the width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Additional CSS for the form elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#login-form label {
  flex: 1;
  margin-right: 10px;
}

#login-form input {
  flex: 2;
  padding: 5px;
}

#login-form button {
  align-self: flex-end;
  width: 100%;
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-board {
  margin: auto;
  align-self: center;
  padding: 8px;
  background: url("wooden-textured-background_53876-14865.avif");
  background-size: cover;
  border: 10px solid #301e15;
  border-radius: 10px;
  cursor: pointer;
}

.cell {
  width: 120px;
  height: 120px;
  margin: 3px;
  border: 8px solid #301e15;
  border-radius: 5px;
}

tr {
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
}
#podium-button {
  background-color: black;
  color: white;
  font-family: "Blanka", "Arial", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
}

#podium-button:hover {
  background-color: darkgrey;
}

#podium-button:focus {
  outline: none; /* Remove focus outline on click */
}

.hidden-popup-user-table {
  display: none;
}

#popup-user-table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #db6304;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#popup-user-table h2 {
  text-align: center;
}

#user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#user-table th, #user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#user-table th {
  background-color: #f2f2f2;
}

#close-popup-user-table {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

#close-popup-user-table:hover {
  background-color: #e0e0e0;
}


/* Media Query for responsive design */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .player-section {
    width: 90%;
    margin-top: 20px;
  }
  .game-container {
    width: 90%;
    margin-top: 20px;
  }
  .game-board {
    padding: 10px;
  }
}
