html, body {
    background-color: #e08767;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    height: 150px;
    background-color: #d8a98d;
    padding: 10px;
}

h1 {
    font-family: Blanka, "Arial", sans-serif;
    font-size: 70px;
    color: #db6304;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #FFB6C1, #FFB6C1);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center; /* Center content vertically */
}

#new-game-button {
    background-color: black;
    color: white;
    font-family: 'Blanka', 'Arial', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    width: 150px; /* Square with the height of the header */
}

#new-game-button:hover {
    background-color: darkgrey;
}

#new-game-button:focus {
    outline: none; /* Remove focus outline on click */
}

.login-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px black;
    width: 300px; /* Increase the width to accommodate the wider form elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    /* Additional CSS for the form elements */
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#login-form label {
    flex: 1;
    margin-right: 10px;
}

#login-form input {
    flex: 2;
    padding: 5px;
}

#login-form button {
    align-self: flex-end;
}



.game-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.game-board {
    text-align: center;
    background-color: white;
    padding: 0;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    border: 2px solid black;
}

.cell {
    display: flex;
    width: 90%;
    height: 1px;
    margin: 10px;
    padding-top: 100%;
    background-color: white;
    border: 1px solid #ddd;
}

.player-pieces {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.piece {
    width: 80px;
    height: 80px;
    background-color: #b1102f;
    color: white;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.piece:hover {
    background-color: #2980b9;
}

.piece + .piece {
    margin-top: 10px; /* Adjust the margin as needed */
}

.player-turn {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

/* Media Query for responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .player-section {
        width: 90%;
        margin-top: 20px;
    }
    .game-container {
        width: 90%;
        margin-top: 20px;
    }
    .game-board {
        padding: 10px;
    }
}
